.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__uUy7Y {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-HZ9Xb9V7ngoIfE);
  display: flex;
  min-width: 0;
}
.freeBox__uUy7Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__uUy7Y > :global(.__wab_flex-container) > *,
.freeBox__uUy7Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uUy7Y > :global(.__wab_flex-container) > picture > img,
.freeBox__uUy7Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__fgWjj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__fgWjj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__fgWjj > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__fgWjj > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__fgWjj > :global(.__wab_flex-container) > *,
.columns__fgWjj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fgWjj > :global(.__wab_flex-container) > picture > img,
.columns__fgWjj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fgWjj {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fgWjj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fgWjj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fgWjj > :global(.__wab_flex-container) > *,
  .columns__fgWjj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fgWjj > :global(.__wab_flex-container) > picture > img,
  .columns__fgWjj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___79BRi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___79BRi {
    width: 100%;
  }
}
.freeBox__acgUs {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__acgUs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__acgUs > :global(.__wab_flex-container) > *,
.freeBox__acgUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acgUs > :global(.__wab_flex-container) > picture > img,
.freeBox__acgUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__acgUs {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__acgUs > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__gkMpo {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__c99Av {
  position: relative;
  text-align: left;
}
.bullet__dzMm:global(.__wab_instance) {
  position: relative;
}
.bullet__lUuJp:global(.__wab_instance) {
  position: relative;
}
.bullet__zKuqX:global(.__wab_instance) {
  position: relative;
}
.text__cTyqe {
  position: relative;
  text-align: left;
}
.freeBox__sncpo {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__sncpo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__sncpo > :global(.__wab_flex-container) > *,
.freeBox__sncpo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sncpo > :global(.__wab_flex-container) > picture > img,
.freeBox__sncpo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sncpo {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sncpo > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sncpo > :global(.__wab_flex-container) > *,
  .freeBox__sncpo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sncpo > :global(.__wab_flex-container) > picture > img,
  .freeBox__sncpo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__l0Ip:global(.__wab_instance) {
  position: relative;
}
.svg__jvRzK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__y5Nkr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zieC0:global(.__wab_instance) {
  position: relative;
}
.svg__vMh8A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__h8Wzd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__opEnz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__opEnz {
    width: 100%;
  }
}
.img__wHd {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__wHd > picture > img {
  object-fit: cover;
}
.img__wHd > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__dKJb3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__dKJb3 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__dKJb3 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__dKJb3 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__dKJb3 > :global(.__wab_flex-container) > *,
.columns__dKJb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dKJb3 > :global(.__wab_flex-container) > picture > img,
.columns__dKJb3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dKJb3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dKJb3 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dKJb3 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dKJb3 > :global(.__wab_flex-container) > *,
  .columns__dKJb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dKJb3 > :global(.__wab_flex-container) > picture > img,
  .columns__dKJb3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__fxi6S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fxi6S {
    width: 100%;
  }
}
.img__y6CG {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__y6CG > picture > img {
  object-fit: cover;
}
.img__y6CG > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__hpOZf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hpOZf {
    width: 100%;
  }
}
.freeBox__q9Uln {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__q9Uln > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__q9Uln > :global(.__wab_flex-container) > *,
.freeBox__q9Uln > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q9Uln > :global(.__wab_flex-container) > picture > img,
.freeBox__q9Uln
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q9Uln {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q9Uln > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__bJ7Pl {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__oAo24 {
  position: relative;
  text-align: left;
}
.bullet__sjVx:global(.__wab_instance) {
  position: relative;
}
.bullet__ncxg:global(.__wab_instance) {
  position: relative;
}
.bullet__dr0Ak:global(.__wab_instance) {
  position: relative;
}
.text__g5HE {
  position: relative;
  text-align: left;
}
.freeBox__fab5 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__fab5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__fab5 > :global(.__wab_flex-container) > *,
.freeBox__fab5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fab5 > :global(.__wab_flex-container) > picture > img,
.freeBox__fab5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fab5 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fab5 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fab5 > :global(.__wab_flex-container) > *,
  .freeBox__fab5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fab5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fab5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__uEb2F:global(.__wab_instance) {
  position: relative;
}
.svg__zDd3D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tUq5N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__q8Fer:global(.__wab_instance) {
  position: relative;
}
.svg__wGbr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xnUNm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
