.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___81GqT {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-8mXmnKKB2Ml7uN);
}
.freeBox__ccepO {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-HZ9Xb9V7ngoIfE);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__ccepO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ccepO > :global(.__wab_flex-container) > *,
.freeBox__ccepO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ccepO > :global(.__wab_flex-container) > picture > img,
.freeBox__ccepO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ccepO {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ccepO > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ccepO > :global(.__wab_flex-container) > *,
  .freeBox__ccepO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ccepO > :global(.__wab_flex-container) > picture > img,
  .freeBox__ccepO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__mlgck {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__mlgck > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mlgck > :global(.__wab_flex-container) > *,
.freeBox__mlgck > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mlgck > :global(.__wab_flex-container) > picture > img,
.freeBox__mlgck
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__juYZ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xdGj2 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__lb0Dx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___2N77O {
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link___2N77O:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__seQyC {
  position: relative;
  font-size: 14px;
  color: var(--token-PO9EVllWZwEbcg);
}
.link__rC4K {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__rC4K:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__hs42Q {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__hs42Q > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__hs42Q > :global(.__wab_flex-container) > *,
.freeBox__hs42Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hs42Q > :global(.__wab_flex-container) > picture > img,
.freeBox__hs42Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hs42Q {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hs42Q > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hs42Q > :global(.__wab_flex-container) > *,
  .freeBox__hs42Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hs42Q > :global(.__wab_flex-container) > picture > img,
  .freeBox__hs42Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__k6EFf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__k6EFf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__k6EFf > :global(.__wab_flex-container) > *,
.freeBox__k6EFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k6EFf > :global(.__wab_flex-container) > picture > img,
.freeBox__k6EFf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__lSp9Q {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__di1Si {
  font-size: 14px;
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
}
.root .link__di1Si:hover {
  color: var(--token-NEon4Y--Z);
}
.link__e5Xhw {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__e5Xhw:hover {
  color: var(--token-NEon4Y--Z);
}
.link__gKxQ {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__gKxQ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cNqe9 {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__cNqe9:hover {
  color: var(--token-NEon4Y--Z);
}
.link__juyOz {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__juyOz:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__yY4U {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__yY4U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yY4U > :global(.__wab_flex-container) > *,
.freeBox__yY4U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yY4U > :global(.__wab_flex-container) > picture > img,
.freeBox__yY4U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__kfuc3 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__jl0Xu {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__jl0Xu:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mw6RG {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__mw6RG:hover {
  color: var(--token-NEon4Y--Z);
}
.link__i75Gd {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__i75Gd:hover {
  color: var(--token-NEon4Y--Z);
}
.link__yuchq {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__yuchq:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nZhYb {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__nZhYb:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__np1Wu {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__np1Wu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__np1Wu > :global(.__wab_flex-container) > *,
.freeBox__np1Wu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__np1Wu > :global(.__wab_flex-container) > picture > img,
.freeBox__np1Wu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gjNi {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__kcF2J {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__kcF2J:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jyx9X {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__jyx9X:hover {
  color: var(--token-NEon4Y--Z);
}
.link__v1QRb {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__v1QRb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xmOn4 {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__xmOn4:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wqtMf {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link__wqtMf:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__rfXoQ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__rfXoQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rfXoQ > :global(.__wab_flex-container) > *,
.freeBox__rfXoQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rfXoQ > :global(.__wab_flex-container) > picture > img,
.freeBox__rfXoQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___5HB6 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__xiXPf {
  position: relative;
  font-size: 14px;
  color: var(--token-PO9EVllWZwEbcg);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__ejzxV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg___0KNcl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__zb8J5 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__zWGl2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__baVwp {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-8mXmnKKB2Ml7uN);
}
.freeBox__aRsz5 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-HZ9Xb9V7ngoIfE);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__aRsz5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aRsz5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aRsz5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aRsz5 > :global(.__wab_flex-container) > *,
  .freeBox__aRsz5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aRsz5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__aRsz5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__xUbA3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__j24R {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  height: auto;
  font-size: 14px;
}
.root .link__j24R:hover {
  text-decoration-line: underline;
}
.link___5UVd {
  position: relative;
  color: var(--token-PO9EVllWZwEbcg);
  font-size: 14px;
}
.root .link___5UVd:hover {
  text-decoration-line: underline;
}
.text__o8B47 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-PO9EVllWZwEbcg);
}
.freeBox__b3CBl {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__b3CBl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b3CBl > :global(.__wab_flex-container) > *,
.freeBox__b3CBl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b3CBl > :global(.__wab_flex-container) > picture > img,
.freeBox__b3CBl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__f8VAp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__otQs7 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__otQs7:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__wfeol:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__cVg2L {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__cVg2L:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__jEw55:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__mNjr1 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__mNjr1:hover {
  color: var(--token-dph1wZ7NjV9);
}
