@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-8mXmnKKB2Ml7uN: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-8mXmnKKB2Ml7uN);
  --token-juBlAKG9mjPSim: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-juBlAKG9mjPSim);
  --token-PO9EVllWZwEbcg: #666666;
  --plasmic-token-text: var(--token-PO9EVllWZwEbcg);
  --token-HZ9Xb9V7ngoIfE: 1104px;
  --plasmic-token-max-content-width: var(--token-HZ9Xb9V7ngoIfE);
}

.plasmic_default_styles {
  --mixin-2hXANbMifBc2Ea_font-family: "Inter";
  --mixin-2hXANbMifBc2Ea_font-size: 18px;
  --mixin-2hXANbMifBc2Ea_font-weight: 400;
  --mixin-2hXANbMifBc2Ea_font-style: normal;
  --mixin-2hXANbMifBc2Ea_color: var(--token-PO9EVllWZwEbcg);
  --mixin-2hXANbMifBc2Ea_text-align: left;
  --mixin-2hXANbMifBc2Ea_text-transform: none;
  --mixin-2hXANbMifBc2Ea_line-height: 1.5;
  --mixin-2hXANbMifBc2Ea_letter-spacing: normal;
  --mixin-2hXANbMifBc2Ea_white-space: pre-wrap;
  --mixin-2hXANbMifBc2Ea_user-select: text;
  --mixin-2hXANbMifBc2Ea_text-decoration-line: none;
  --mixin-2hXANbMifBc2Ea_text-overflow: clip;
  --mixin-pWbJhst66YHLjz_font-family: "Inter";
  --mixin-pWbJhst66YHLjz_color: #000000;
  --mixin-pWbJhst66YHLjz_font-size: 72px;
  --mixin-pWbJhst66YHLjz_font-weight: 900;
  --mixin-pWbJhst66YHLjz_letter-spacing: -4px;
  --mixin-pWbJhst66YHLjz_line-height: 1;
  --mixin-EIbdiRasOx5ZKg_font-family: "Inter";
  --mixin-EIbdiRasOx5ZKg_color: #000000;
  --mixin-EIbdiRasOx5ZKg_font-size: 48px;
  --mixin-EIbdiRasOx5ZKg_font-weight: 700;
  --mixin-EIbdiRasOx5ZKg_letter-spacing: -1px;
  --mixin-EIbdiRasOx5ZKg_line-height: 1.1;
  --mixin-IFN3S23V39iBOB_font-family: "Inter";
  --mixin-IFN3S23V39iBOB_color: #000000;
  --mixin-IFN3S23V39iBOB_font-size: 32px;
  --mixin-IFN3S23V39iBOB_font-weight: 600;
  --mixin-IFN3S23V39iBOB_letter-spacing: -0.8px;
  --mixin-IFN3S23V39iBOB_line-height: 1.2;
  --mixin-h7A3HYnDU2ZOwU_font-family: "Inter";
  --mixin-h7A3HYnDU2ZOwU_color: #000000;
  --mixin-h7A3HYnDU2ZOwU_font-size: 24px;
  --mixin-h7A3HYnDU2ZOwU_font-weight: 600;
  --mixin-h7A3HYnDU2ZOwU_letter-spacing: -0.5px;
  --mixin-h7A3HYnDU2ZOwU_line-height: 1.3;
  --mixin-P5aGrDCWZ_Yv04_font-family: "Inter";
  --mixin-P5aGrDCWZ_Yv04_color: #000000;
  --mixin-P5aGrDCWZ_Yv04_font-size: 20px;
  --mixin-P5aGrDCWZ_Yv04_font-weight: 600;
  --mixin-P5aGrDCWZ_Yv04_letter-spacing: -0.3px;
  --mixin-P5aGrDCWZ_Yv04_line-height: 1.5;
  --mixin-pU6w4QqVxfzHST_font-family: "Inter";
  --mixin-pU6w4QqVxfzHST_color: #000000;
  --mixin-pU6w4QqVxfzHST_font-size: 16px;
  --mixin-pU6w4QqVxfzHST_font-weight: 600;
  --mixin-pU6w4QqVxfzHST_line-height: 1.5;
  --mixin-WGRfthV0Bd_T56_border-left-color: #dddddd;
  --mixin-WGRfthV0Bd_T56_border-left-style: solid;
  --mixin-WGRfthV0Bd_T56_border-left-width: 3px;
  --mixin-WGRfthV0Bd_T56_color: #888888;
  --mixin-WGRfthV0Bd_T56_padding-left: 10px;
  --mixin-AZ64PPP7NNLaY1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-AZ64PPP7NNLaY1_border-bottom-color: #dddddd;
  --mixin-AZ64PPP7NNLaY1_border-bottom-style: solid;
  --mixin-AZ64PPP7NNLaY1_border-bottom-width: 1px;
  --mixin-AZ64PPP7NNLaY1_border-left-color: #dddddd;
  --mixin-AZ64PPP7NNLaY1_border-left-style: solid;
  --mixin-AZ64PPP7NNLaY1_border-left-width: 1px;
  --mixin-AZ64PPP7NNLaY1_border-right-color: #dddddd;
  --mixin-AZ64PPP7NNLaY1_border-right-style: solid;
  --mixin-AZ64PPP7NNLaY1_border-right-width: 1px;
  --mixin-AZ64PPP7NNLaY1_border-top-color: #dddddd;
  --mixin-AZ64PPP7NNLaY1_border-top-style: solid;
  --mixin-AZ64PPP7NNLaY1_border-top-width: 1px;
  --mixin-AZ64PPP7NNLaY1_border-bottom-left-radius: 3px;
  --mixin-AZ64PPP7NNLaY1_border-bottom-right-radius: 3px;
  --mixin-AZ64PPP7NNLaY1_border-top-left-radius: 3px;
  --mixin-AZ64PPP7NNLaY1_border-top-right-radius: 3px;
  --mixin-AZ64PPP7NNLaY1_font-family: "Inconsolata";
  --mixin-AZ64PPP7NNLaY1_padding-bottom: 1px;
  --mixin-AZ64PPP7NNLaY1_padding-left: 4px;
  --mixin-AZ64PPP7NNLaY1_padding-right: 4px;
  --mixin-AZ64PPP7NNLaY1_padding-top: 1px;
  --mixin-HJ8trTUnEYKiYC_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HJ8trTUnEYKiYC_border-bottom-color: #dddddd;
  --mixin-HJ8trTUnEYKiYC_border-bottom-style: solid;
  --mixin-HJ8trTUnEYKiYC_border-bottom-width: 1px;
  --mixin-HJ8trTUnEYKiYC_border-left-color: #dddddd;
  --mixin-HJ8trTUnEYKiYC_border-left-style: solid;
  --mixin-HJ8trTUnEYKiYC_border-left-width: 1px;
  --mixin-HJ8trTUnEYKiYC_border-right-color: #dddddd;
  --mixin-HJ8trTUnEYKiYC_border-right-style: solid;
  --mixin-HJ8trTUnEYKiYC_border-right-width: 1px;
  --mixin-HJ8trTUnEYKiYC_border-top-color: #dddddd;
  --mixin-HJ8trTUnEYKiYC_border-top-style: solid;
  --mixin-HJ8trTUnEYKiYC_border-top-width: 1px;
  --mixin-HJ8trTUnEYKiYC_border-bottom-left-radius: 3px;
  --mixin-HJ8trTUnEYKiYC_border-bottom-right-radius: 3px;
  --mixin-HJ8trTUnEYKiYC_border-top-left-radius: 3px;
  --mixin-HJ8trTUnEYKiYC_border-top-right-radius: 3px;
  --mixin-HJ8trTUnEYKiYC_font-family: "Inconsolata";
  --mixin-HJ8trTUnEYKiYC_padding-bottom: 3px;
  --mixin-HJ8trTUnEYKiYC_padding-left: 6px;
  --mixin-HJ8trTUnEYKiYC_padding-right: 6px;
  --mixin-HJ8trTUnEYKiYC_padding-top: 3px;
  --mixin-bfKSMJBrh0Xvzq_display: flex;
  --mixin-bfKSMJBrh0Xvzq_flex-direction: column;
  --mixin-bfKSMJBrh0Xvzq_align-items: stretch;
  --mixin-bfKSMJBrh0Xvzq_justify-content: flex-start;
  --mixin-bfKSMJBrh0Xvzq_list-style-position: outside;
  --mixin-bfKSMJBrh0Xvzq_padding-left: 40px;
  --mixin-bfKSMJBrh0Xvzq_position: relative;
  --mixin-bfKSMJBrh0Xvzq_list-style-type: decimal;
  --mixin-pTulXxls2bh33b_display: flex;
  --mixin-pTulXxls2bh33b_flex-direction: column;
  --mixin-pTulXxls2bh33b_align-items: stretch;
  --mixin-pTulXxls2bh33b_justify-content: flex-start;
  --mixin-pTulXxls2bh33b_list-style-position: outside;
  --mixin-pTulXxls2bh33b_padding-left: 40px;
  --mixin-pTulXxls2bh33b_position: relative;
  --mixin-pTulXxls2bh33b_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-2hXANbMifBc2Ea_font-family);
  font-size: var(--mixin-2hXANbMifBc2Ea_font-size);
  font-weight: var(--mixin-2hXANbMifBc2Ea_font-weight);
  font-style: var(--mixin-2hXANbMifBc2Ea_font-style);
  color: var(--mixin-2hXANbMifBc2Ea_color);
  text-align: var(--mixin-2hXANbMifBc2Ea_text-align);
  text-transform: var(--mixin-2hXANbMifBc2Ea_text-transform);
  line-height: var(--mixin-2hXANbMifBc2Ea_line-height);
  letter-spacing: var(--mixin-2hXANbMifBc2Ea_letter-spacing);
  white-space: var(--mixin-2hXANbMifBc2Ea_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-pWbJhst66YHLjz_font-family);
  color: var(--mixin-pWbJhst66YHLjz_color);
  font-size: var(--mixin-pWbJhst66YHLjz_font-size);
  font-weight: var(--mixin-pWbJhst66YHLjz_font-weight);
  letter-spacing: var(--mixin-pWbJhst66YHLjz_letter-spacing);
  line-height: var(--mixin-pWbJhst66YHLjz_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-EIbdiRasOx5ZKg_font-family);
  color: var(--mixin-EIbdiRasOx5ZKg_color);
  font-size: var(--mixin-EIbdiRasOx5ZKg_font-size);
  font-weight: var(--mixin-EIbdiRasOx5ZKg_font-weight);
  letter-spacing: var(--mixin-EIbdiRasOx5ZKg_letter-spacing);
  line-height: var(--mixin-EIbdiRasOx5ZKg_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-IFN3S23V39iBOB_font-family);
  color: var(--mixin-IFN3S23V39iBOB_color);
  font-size: var(--mixin-IFN3S23V39iBOB_font-size);
  font-weight: var(--mixin-IFN3S23V39iBOB_font-weight);
  letter-spacing: var(--mixin-IFN3S23V39iBOB_letter-spacing);
  line-height: var(--mixin-IFN3S23V39iBOB_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-h7A3HYnDU2ZOwU_font-family);
  color: var(--mixin-h7A3HYnDU2ZOwU_color);
  font-size: var(--mixin-h7A3HYnDU2ZOwU_font-size);
  font-weight: var(--mixin-h7A3HYnDU2ZOwU_font-weight);
  letter-spacing: var(--mixin-h7A3HYnDU2ZOwU_letter-spacing);
  line-height: var(--mixin-h7A3HYnDU2ZOwU_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-P5aGrDCWZ_Yv04_font-family);
  color: var(--mixin-P5aGrDCWZ_Yv04_color);
  font-size: var(--mixin-P5aGrDCWZ_Yv04_font-size);
  font-weight: var(--mixin-P5aGrDCWZ_Yv04_font-weight);
  letter-spacing: var(--mixin-P5aGrDCWZ_Yv04_letter-spacing);
  line-height: var(--mixin-P5aGrDCWZ_Yv04_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-pU6w4QqVxfzHST_font-family);
  color: var(--mixin-pU6w4QqVxfzHST_color);
  font-size: var(--mixin-pU6w4QqVxfzHST_font-size);
  font-weight: var(--mixin-pU6w4QqVxfzHST_font-weight);
  line-height: var(--mixin-pU6w4QqVxfzHST_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-WGRfthV0Bd_T56_color);
  padding-left: var(--mixin-WGRfthV0Bd_T56_padding-left);
  border-left: var(--mixin-WGRfthV0Bd_T56_border-left-width)
    var(--mixin-WGRfthV0Bd_T56_border-left-style)
    var(--mixin-WGRfthV0Bd_T56_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-AZ64PPP7NNLaY1_background);
  font-family: var(--mixin-AZ64PPP7NNLaY1_font-family);
  border-radius: var(--mixin-AZ64PPP7NNLaY1_border-top-left-radius)
    var(--mixin-AZ64PPP7NNLaY1_border-top-right-radius)
    var(--mixin-AZ64PPP7NNLaY1_border-bottom-right-radius)
    var(--mixin-AZ64PPP7NNLaY1_border-bottom-left-radius);
  padding: var(--mixin-AZ64PPP7NNLaY1_padding-top)
    var(--mixin-AZ64PPP7NNLaY1_padding-right)
    var(--mixin-AZ64PPP7NNLaY1_padding-bottom)
    var(--mixin-AZ64PPP7NNLaY1_padding-left);
  border-top: var(--mixin-AZ64PPP7NNLaY1_border-top-width)
    var(--mixin-AZ64PPP7NNLaY1_border-top-style)
    var(--mixin-AZ64PPP7NNLaY1_border-top-color);
  border-right: var(--mixin-AZ64PPP7NNLaY1_border-right-width)
    var(--mixin-AZ64PPP7NNLaY1_border-right-style)
    var(--mixin-AZ64PPP7NNLaY1_border-right-color);
  border-bottom: var(--mixin-AZ64PPP7NNLaY1_border-bottom-width)
    var(--mixin-AZ64PPP7NNLaY1_border-bottom-style)
    var(--mixin-AZ64PPP7NNLaY1_border-bottom-color);
  border-left: var(--mixin-AZ64PPP7NNLaY1_border-left-width)
    var(--mixin-AZ64PPP7NNLaY1_border-left-style)
    var(--mixin-AZ64PPP7NNLaY1_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-HJ8trTUnEYKiYC_background);
  font-family: var(--mixin-HJ8trTUnEYKiYC_font-family);
  border-radius: var(--mixin-HJ8trTUnEYKiYC_border-top-left-radius)
    var(--mixin-HJ8trTUnEYKiYC_border-top-right-radius)
    var(--mixin-HJ8trTUnEYKiYC_border-bottom-right-radius)
    var(--mixin-HJ8trTUnEYKiYC_border-bottom-left-radius);
  padding: var(--mixin-HJ8trTUnEYKiYC_padding-top)
    var(--mixin-HJ8trTUnEYKiYC_padding-right)
    var(--mixin-HJ8trTUnEYKiYC_padding-bottom)
    var(--mixin-HJ8trTUnEYKiYC_padding-left);
  border-top: var(--mixin-HJ8trTUnEYKiYC_border-top-width)
    var(--mixin-HJ8trTUnEYKiYC_border-top-style)
    var(--mixin-HJ8trTUnEYKiYC_border-top-color);
  border-right: var(--mixin-HJ8trTUnEYKiYC_border-right-width)
    var(--mixin-HJ8trTUnEYKiYC_border-right-style)
    var(--mixin-HJ8trTUnEYKiYC_border-right-color);
  border-bottom: var(--mixin-HJ8trTUnEYKiYC_border-bottom-width)
    var(--mixin-HJ8trTUnEYKiYC_border-bottom-style)
    var(--mixin-HJ8trTUnEYKiYC_border-bottom-color);
  border-left: var(--mixin-HJ8trTUnEYKiYC_border-left-width)
    var(--mixin-HJ8trTUnEYKiYC_border-left-style)
    var(--mixin-HJ8trTUnEYKiYC_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-bfKSMJBrh0Xvzq_display);
  flex-direction: var(--mixin-bfKSMJBrh0Xvzq_flex-direction);
  align-items: var(--mixin-bfKSMJBrh0Xvzq_align-items);
  justify-content: var(--mixin-bfKSMJBrh0Xvzq_justify-content);
  list-style-position: var(--mixin-bfKSMJBrh0Xvzq_list-style-position);
  padding-left: var(--mixin-bfKSMJBrh0Xvzq_padding-left);
  position: var(--mixin-bfKSMJBrh0Xvzq_position);
  list-style-type: var(--mixin-bfKSMJBrh0Xvzq_list-style-type);
  flex-column-gap: var(--mixin-bfKSMJBrh0Xvzq_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-pTulXxls2bh33b_display);
  flex-direction: var(--mixin-pTulXxls2bh33b_flex-direction);
  align-items: var(--mixin-pTulXxls2bh33b_align-items);
  justify-content: var(--mixin-pTulXxls2bh33b_justify-content);
  list-style-position: var(--mixin-pTulXxls2bh33b_list-style-position);
  padding-left: var(--mixin-pTulXxls2bh33b_padding-left);
  position: var(--mixin-pTulXxls2bh33b_position);
  list-style-type: var(--mixin-pTulXxls2bh33b_list-style-type);
  flex-column-gap: var(--mixin-pTulXxls2bh33b_flex-column-gap);
}
