.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__zXu0I {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-HZ9Xb9V7ngoIfE);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__zXu0I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zXu0I > :global(.__wab_flex-container) > *,
.freeBox__zXu0I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zXu0I > :global(.__wab_flex-container) > picture > img,
.freeBox__zXu0I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zXu0I {
    width: 100%;
    height: auto;
    max-width: var(--token-HZ9Xb9V7ngoIfE);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zXu0I > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zXu0I > :global(.__wab_flex-container) > *,
  .freeBox__zXu0I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zXu0I > :global(.__wab_flex-container) > picture > img,
  .freeBox__zXu0I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__yBp2X {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__yBp2X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__yBp2X > :global(.__wab_flex-container) > *,
.freeBox__yBp2X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yBp2X > :global(.__wab_flex-container) > picture > img,
.freeBox__yBp2X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yBp2X {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yBp2X > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yBp2X > :global(.__wab_flex-container) > *,
  .freeBox__yBp2X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yBp2X > :global(.__wab_flex-container) > picture > img,
  .freeBox__yBp2X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__k0BK2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__wCdNn {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wCdNn {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__uLTgb {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uLTgb {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__nXs6J {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nXs6J {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox___1Xjcg {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___1Xjcg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___1Xjcg > :global(.__wab_flex-container) > *,
.freeBox___1Xjcg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Xjcg > :global(.__wab_flex-container) > picture > img,
.freeBox___1Xjcg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__hmemi:global(.__wab_instance) {
  position: relative;
}
.svg__f3Rc7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___6EG5H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ehwo7:global(.__wab_instance) {
  position: relative;
}
.svg__yPpgG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pq7SM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__io1Sy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__oiRp {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__oiRp > picture > img {
  object-fit: cover;
}
.img__oiRp > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column___1HDve {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1HDve {
    width: 100%;
  }
}
.freeBox__stNnt {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__stNnt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__stNnt > :global(.__wab_flex-container) > *,
.freeBox__stNnt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__stNnt > :global(.__wab_flex-container) > picture > img,
.freeBox__stNnt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stNnt {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stNnt > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___0Tsbr {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__wQ6Oc {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__iXrJ:global(.__wab_instance) {
  position: relative;
}
.svg___2YkMx {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__xljZj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__c1Il:global(.__wab_instance) {
  position: relative;
}
.svg__hc1Jc {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__aAcVy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__iid4:global(.__wab_instance) {
  position: relative;
}
.svg___0RwTk {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__hQj2Y {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column___5Szw7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5Szw7 {
    width: 100%;
  }
}
.img__ywXIf {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ywXIf > picture > img {
  object-fit: cover;
}
.img__ywXIf > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__k5B {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__k5B > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__k5B > :global(.__wab_flex-container) > *,
.freeBox__k5B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k5B > :global(.__wab_flex-container) > picture > img,
.freeBox__k5B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__iUpc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__luxZn {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-juBlAKG9mjPSim);
}
.svg__oskg9 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___5Xw4L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__x1P8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-juBlAKG9mjPSim);
}
.svg__mjM2W {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ijl4Q:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__c3Te {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-juBlAKG9mjPSim);
}
.svg__hlZrb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___6MSdS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qanYy {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-juBlAKG9mjPSim);
}
.svg__mmJjQ {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__hRdra:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nlQbT {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-juBlAKG9mjPSim);
}
.svg__mfEcu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ebuAn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eRgdw {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-juBlAKG9mjPSim);
}
.svg__yhaMf {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-8mXmnKKB2Ml7uN);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox___3Gc8K {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3Gc8K > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___3Gc8K > :global(.__wab_flex-container) > *,
.freeBox___3Gc8K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Gc8K > :global(.__wab_flex-container) > picture > img,
.freeBox___3Gc8K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__fHofJ {
  flex-direction: row;
  display: flex;
}
.freeBox__fHofJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__fHofJ > :global(.__wab_flex-container) > *,
.freeBox__fHofJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fHofJ > :global(.__wab_flex-container) > picture > img,
.freeBox__fHofJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg___5Ob7 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__iRomx {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__cKAmw {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__a46X {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___3Om6P {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
