.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__lt5Iz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lt5Iz {
    width: 100%;
  }
}
.plan__hfoZj:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___8MDap {
  font-size: 48px;
}
.freeBox__vhz6J {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vhz6J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vhz6J > :global(.__wab_flex-container) > *,
.freeBox__vhz6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vhz6J > :global(.__wab_flex-container) > picture > img,
.freeBox__vhz6J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__zubxR:global(.__wab_instance) {
  position: relative;
}
.bullet__uJt60:global(.__wab_instance) {
  position: relative;
}
.bullet__qigZ:global(.__wab_instance) {
  position: relative;
}
.button__l40Ao:global(.__wab_instance) {
  position: relative;
}
.svg__c6VwO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ofuxd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__flCd8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__flCd8 {
    width: 100%;
  }
}
.plan__lutOk:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__miu9W {
  font-size: 48px;
}
.freeBox__n2Lyf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__n2Lyf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__n2Lyf > :global(.__wab_flex-container) > *,
.freeBox__n2Lyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n2Lyf > :global(.__wab_flex-container) > picture > img,
.freeBox__n2Lyf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___1BGnp:global(.__wab_instance) {
  position: relative;
}
.bullet___1LNsm:global(.__wab_instance) {
  position: relative;
}
.bullet___5Ypzp:global(.__wab_instance) {
  position: relative;
}
.bullet___641Bk:global(.__wab_instance) {
  position: relative;
}
.button__edW6L:global(.__wab_instance) {
  position: relative;
}
.svg__eoet {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fwPj2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__tXc32 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tXc32 {
    width: 100%;
  }
}
.plan__eoNSx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__t8Zrl {
  font-size: 48px;
}
.freeBox__jR0B1 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__jR0B1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jR0B1 > :global(.__wab_flex-container) > *,
.freeBox__jR0B1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jR0B1 > :global(.__wab_flex-container) > picture > img,
.freeBox__jR0B1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__r5M3W:global(.__wab_instance) {
  position: relative;
}
.bullet___2Fnf7:global(.__wab_instance) {
  position: relative;
}
.bullet__ncOcr:global(.__wab_instance) {
  position: relative;
}
.button__j4O4T:global(.__wab_instance) {
  position: relative;
}
.svg__ln40Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gUd76 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___5Hj5V {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5Hj5V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___5Hj5V > :global(.__wab_flex-container) > *,
.freeBox___5Hj5V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Hj5V > :global(.__wab_flex-container) > picture > img,
.freeBox___5Hj5V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__xf07S:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__fMr2H:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
